@media (min-width: 450px) {
	.slick-prev {
		left: -80px;
	}

	.slick-next {
		right: -80px;
	}
}

@media (min-width: 576px) {
	.slick-prev {
		left: -50px;
	}

	.slick-next {
		right: -50px;
	}

	.header {
		&__welcome {
			h1 {
				font-size: 5rem;
			}
		}

		&__name {
			font-size: 3rem;
		}

		&__mute {
			font-size: 2rem;
		}
	}

	.wrapper {
		.section-title {
			&::before,
			&::after {
				width: 22%;
			}
		}
	}

	// ABOUTME

	.aboutme {
		&__text {
			width: 480px;
			margin-bottom: 60px;
		}

		&__carousel {
			width: 480px;
		}

		&__small-title {
			margin-top: 60px;
		}

		&__skills {
			grid-template-columns: 1fr 1fr;
		}

		&__skill {
			margin-bottom: 60px;
		}
	}

	// CONTACT

	.contact {
		&__form-box {
			width: 400px;
		}
	}

	.footer {
		flex-direction: row;
		justify-content: space-evenly;

		&__createdby {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__socials {
			width: 50%;
			justify-content: center;
			gap: 40px;
			margin-top: 0;
		}
	}
}

@media (min-width: 768px) {
	.hide-nav {
		transform: translateY(-100px);
		opacity: 0;
	}

	.wrapper {
		.section-title {
			margin-bottom: 60px;
			font-size: 3rem;

			&::before,
			&::after {
				width: 30%;
			}
		}
	}

	.slick-prev {
		left: -80px;
	}

	.slick-next {
		right: -80px;
	}

	// HEADER AND NAV

	.header {
		&__container {
			flex-direction: row;
			padding-top: 100px;
		}

		&__welcome {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			margin-top: 0;
			margin-left: 30px;
			h1 {
				font-size: 5rem;
			}
		}

		&__name {
			font-size: 2.8rem;
		}

		&__mute {
			font-size: 1.8rem;
		}

		&__profile {
			width: 50%;
		}

		&__profile-img {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 370px;
			margin-bottom: 0;
		}

		&__aboutme {
			position: absolute;
			bottom: 0px;
			left: 50%;
			display: block;
			transform: translateX(-50%);
			transition: 0.3s;
		}

		&__aboutme-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 2px;
			padding: 10px;
			background-color: transparent;
			font-size: 1.4rem;
			text-transform: uppercase;
			text-decoration: none;
			color: colors.$white;

			i {
				padding: 7px;
				transition: transform 0.3s, color 0.3s;
			}

			span {
				position: relative;
				transition: color 0.3s;

				&::after,
				&::before {
					content: '';
					position: absolute;
					bottom: -3px;
					width: 0;
					height: 2px;
					background-color: colors.$grey;
					transition: width 0.3s, color 0.3s;
				}

				&::before {
					left: 50%;
				}

				&::after {
					right: 50%;
				}
			}

			&:hover {
				span {
					color: colors.$grey;

					&::after,
					&::before {
						width: 50%;
						color: colors.$grey;
					}
				}

				i {
					transform: translateY(5px) scale(1.2);
					color: colors.$grey;
				}
			}
		}
	}

	.top-btn {
		right: 30px;
	}

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		position: fixed;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: backdrop-filter 0.5s, opacity 0.5s, transform 0.5s;
		z-index: 5;

		&__items {
			display: flex;
			list-style: none;
		}

		&__item {
			padding: 30px 40px;
			font-size: 2rem;
			text-align: center;

			a {
				position: relative;
				padding: 5px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				color: colors.$white;
				transition: color 0.3s;

				&::after,
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					width: 0;
					height: 2px;
					background-color: colors.$grey;
					transition: width 0.3s;
				}

				&::before {
					left: 50%;
				}

				&::after {
					right: 50%;
				}

				&:hover {
					color: colors.$grey;

					&::after,
					&::before {
						width: 50%;
					}
				}
			}
		}
	}

	// ABOUTME

	.aboutme {

		&__skills {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__skill {
			transition: transform .3s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	// PROJECTS

	.projects {
		&__items {
			flex-direction: row;
			justify-content: space-evenly;
			flex-wrap: wrap;
			margin-bottom: 0;
		}
	}

	// CONTACT

	.contact {
		&__form-box {
			width: 600px;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__welcome {
			h1 {
				font-size: 7rem;
			}
		}

		&__name {
			font-size: 3.4rem;
		}

		&__mute {
			font-size: 2.2rem;
		}
	}
}
